/design/prototype/node_modules/
/design/prototype/dist/
/design/prototype/.npm-cache/
/frontend/node_modules
/frontend/.node_modules/
/internal/app/desktop/assets/frontend/dist/*
!/internal/app/desktop/assets/frontend/dist/.gitkeep
/bin/
/.task/
.DS_Store
.modu_code/
